@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orelega+One&display=swap');

#main {
  text-align: center;
  background: #EBFBE6;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 5px;
  padding: 15px;
  border-radius: 5px;
}
#title{
  font-family:"Orelega One";
  font-size:40px;
}
#frase{
  margin: 30px 20px;
}
#frase, #img-div{
  font-size:15px;
  padding:10px;
  background:#C7FCB6;
  font-style: italic;
}
#image-div{
  padding:10px;
  margin: 30px 20px;
}
#image{
  max-width:100%;
  display:block;
  height:auto;
  margin: 0 auto;
  align-content:center;
}

#tribute-info{
  padding:10px;
}
table{
  padding:5px;
  background-color: #FCC7B6;
  text-align:left;
}
th{
  text-align:center;
  background-color: #FCC7B6;
}
tr{
  background-color: #FCF5B6;
}
td{
  padding:6px;
}