#mensajes {
    background: var(--color-primary);
}

#div-contacto {
    background-color: white;
}
.imagen-contacto {
    text-align: center;
}

.contenido {
    text-align: center;
    align-items: center;
    top: 400px;
    position: absolute;
    left: 115px;
}

.txt-mensaje {
    position: absolute;
    width: 350px;
    height: 48px;
    left: 8px;
    top: 700px;
    border-style: solid;
    border-color: black;
}
.flotante-atras {
    position: absolute;
    bottom: 744px;
    right: 307px;
    z-index: 100;
}
