#detalle {
    font-family: Nunito;
    font-style: normal;
}
.btn-contactar {
    width: 100%;
    border-radius: 98px;
    padding: 16px;
    background: var(--color-black);
}

.carinoso, .inquieto, .jugueton {
    border-style: solid;
    border-color: var(--color-secundary)
}

.imagen-personalidad {
    align-content: center;
}
.descripcion-mascota {
    position: absolute;
    background-color: white;
    top: 415px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.flotante-favorito {
    position: absolute;
    bottom: 586px;
    right: 14px;
    z-index: 100;
}
.flotante-atras {
    position: absolute;
    bottom: 744px;
    right: 307px;
    z-index: 100;
}
.cards {
    border-radius: 8px;
    width: 92px;
    height: 92px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}